<section class="container mt-4" style="min-height: 100dvh;">
    <h2>My Orders</h2>
    <div class="row">

        {{#each orders}}

        <a href="" class="card-link">
            <div class="order-card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="card-subtitle mb-2 text-muted">{{this.status}}</h6>
                            <h5 class="card-title">{{this.commerceName}}</h5>
                            <p class="card-text">RD$ {{this.total}} - {{this.products.length}} products</p>
                            <small class="text-muted">{{formatDate this.createdAt}}</small>
                        </div>
                        <div>
                            <img src="{{this.commerceImage}}" alt="{{this.commerceName}}" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        </a>

        {{/each}}
    </div>


    <!-- Sample Data -->

</section>
<style>
    .order-card {
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 20px;
        width: 100%;
        max-width: 700px;
        margin: auto;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .card-subtitle {
        font-size: 0.9em;
        font-weight: bold;
        color: #AEB1C2;
    }

    .card-title {
        margin-bottom: 0.5em;
        font-size: 1.2em;
    }

    .card-text {
        font-size: 1em;
        margin: 0;
    }

    .text-muted {
        font-size: 0.85em;
        color: #888;
    }

    .img-thumbnail {
        max-width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .d-flex {
        align-items: center;
        justify-content: space-between;
    }

    .container {
        max-width: 800px;
        margin: auto;
    }

    h2 {
        color: #333;
        text-align: center;
        margin-bottom: 1em;
    }
</style>