<div class="container">
    <h1 class="my-4">Products List</h1>
    <a href="/commerce/products/create" class="btn btn-primary mb-3">Create New Product</a>
    <div class="table-container">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#if products}}
            {{#each products}}
              <tr>
                <td>{{this.name}}</td>
                <td><img src="{{this.picture}}" alt="{{this.name}}" class="img-fluid product-image" /></td>
                <td>{{this.description}}</td>
                <td>{{this.genre}}</td>
                <td>${{this.price}}</td>
                <td>
                  <a href="/commerce/products/edit/{{this.id}}" class="btn btn-warning btn-sm btn-custom">Edit</a>
                  <a href="/commerce/products/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="6" class="text-center">No products found</td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>

<style>
    .btn-custom {
      margin-right: 5px;
    }
    .table-container {
      margin-top: 20px;
    }
    .product-image {
      max-width: 100px;
    }
  </style>